# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.cache

# Packaging artifacts
*.egg-info
*.dist-info
build/
dist/
pip-wheel-metadata/
.eggs

# Ruff
.ruff_cache

# Jupyter Notebook
.ipynb_checkpoints
notebooks/*

# Data
data/*

# IPython
profile_default/
ipython_config.py

# Environments
.venv
